<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <img src="assets/imgs/logo2.png">

  <h3>{{ titulo }}</h3>

  <button ion-button (click)="saludo()">
    Cambiar título
  </button>

  <img [src]="map" *ngIf="map.length > 0">

  <ion-list>
      <ion-card *ngFor="let usuario of usuarios" 
      (click)="mostrarDetalle( usuario.id )">
        <img [src]="usuario.image"/>
        <ion-card-content>
          <ion-card-title>{{ usuario.nombre }} </ion-card-title>
          <p>
            The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>

  </ion-list>

</ion-content>
